* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: Fredoka One;
}

nav {
  background-color: #1F9BA6;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 2;

}

.menu {
  position: absolute;
  right: 0;
  top: 20px;
  margin-right: 20px;
}

.homebtn button:hover {
  background-color: #80DC90;
}

.logo {
  display: inline-block;
}

.js-results {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    max-width: 800px;
 
 }
 
 .result {
     border: 1px solid grey;
     padding: 15px;
     margin: 10px;
     width: 154;
     margin-left: auto;
     margin-right: auto;
     border-radius: 8px;
 }

 .result button:hover {
  background-color: #002F39;
 }


fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }

.update {
    display: block;
}

.filters {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 25%;
  border-radius: 2px;
  padding: 15px;
  background-color: #21B2A8;
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 8px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button button:hover {
  background-color: #80DC90;
}

.updateAccount {
  font-size: 20px;
  margin-bottom: 10px;
}

a:link {
  color: white;
  text-decoration: none;
  margin: 10px;

}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.name {
  border-bottom: 2px solid grey;
}

.add-bunky {
  margin-top: 70px;
}