* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
  
body {
    font-family: Fredoka One;
}

nav {
    background-color: #1F9BA6;
    display: block;
    position: absolute;
    color: white;
    height: 200px;
    width: 100%;
}

.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    /* margin-right: 20px; */
}

.logo {
    display: inline-block;
    left: 10px;
    top: 10px;
}

h1 {
    margin-top: 10px;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
}


 h3 {
     position: relative;
     margin-bottom: 20px;
     color: white;
 }

 h4 {
    margin-bottom: 20px;
 }


main {
    /* display: block; */
    position: absolute;
    margin-top: 50px;

}

.couches {
    width: 100%;
    /* height: 600px;  */
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.top-left {
    left: 0;
    position:absolute;
    text-align:center;
    top: 1px;
    width: 100%

}

.mid {
    left: 0;
    position:absolute;
    text-align:center;
    top: 80px;
    width: 100%
}


.space {
    position: relative;
    padding: 20px;
    background-color: #E6F4F1;

}

.bullets {
    /* border: 1px solid grey; */
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.start{
    background-color: #DBE8E4;
    padding-top: 20px;
    display: block;
    position: relative;
    height: 200px;
    text-align: center;
    right: 0;
    left: 0;
}

.sample {
    margin-top: 20px;
    padding: 20px;
    text-align: center;

}

.homebtn {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border-radius: 8px;
    background-color: #FF8B42;
    color: white;
    font-size: 20px;
    width: 200px;
    left: 0;
    right: 0;
    position:absolute;
    text-align:center;
    top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.btm {
    margin-top: 50px;
}
.chair {
    width: 100%;
    height: 600px; 
    /* max-width: 1000px; */
}


a:link {
    color: white;
    text-decoration: none;
    margin: 10px;

  }

a, a:visited, a:hover, a:active {
    color: inherit;
}
.bunky {
    margin-top: 20px;
    width: 75%;
}



footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    height: 50px;
    text-align: center;
    padding: 20px;
}

li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
 }

 .get-started button:hover {
    background-color: #002F39;

 }

 .centered {
    position: absolute;
    top: 40%;
    left: 42%;
    /* transform: translate(-55%, -55%); */
    margin-left: auto;
    margin-right: auto;
}

