* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Fredoka One;
 

  }
  
header {
    background-color: #1F9BA6;
    color: white;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px; 
}

.menu {
    position: fixed;
    right: 10px;
    top: 10px;
    margin-right: 15px;
    padding: 10px;
}

main {
    /* position: relative; */
    /* background-color: white; */
    /* background-image: url("./imgs/twochairs.jpg") */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chair {
    position: fixed;
    margin-top: 50px;
    width: 50%;
    height: 600px;
}

.Homebox {
    /* position: fixed; */
    display: inline;
    align-items: center;
    text-align: center;
    display: flex;
    /* margin-top: 50px; */
    right: 0;

}

a:link {
    color: white;
    text-decoration: none;
  }

/* section {
    position: fixed;
    display: inline;
    margin-top: 600px;
} */
  