* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
  
body {
    font-family: Fredoka One;
}

nav {
    background-color: #1F9BA6;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.menu {
    position: absolute;
    right: 10px;
    top: 10px;
    margin-right: 20px;
}

.logo {
    display: inline-block;
}


 h3 {
     position: relative;
     margin-bottom: 20px;
 }

 p {
     /* margin-top: 20px; */
 }


main {
    /* display: block; */
    position: absolute;
    margin-top: 50px;

}

.couches {
    width: 100%;
    /* height: 600px;  */
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.top-left {
    left: 0;
    position:absolute;
    text-align:center;
    top: 1px;
    width: 100%

}


.space {
    /* display: inline-block; */
    position: relative;
    padding: 20px;
    /* height: 500px; */
    /* margin-left: auto;
    margin-right: auto;
    text-align: center;
    right: 0;
    left: 0; */
    /* padding-top: 50px; */

}

.bullets {
    /* border: 1px solid grey; */
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.start{
    display: block;
    position: relative;
    height: 200px;
    text-align: center;
    right: 0;
    left: 0;
}

.sample {
    margin-top: 20px;
    padding: 20px;
    text-align: center;

}

.homebtn {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 8px;
    background-color: #21B2A8;
    font-size: 20px;
    width: 400px;

}

.chair {
    width: 100%;
    height: 600px; 
    /* max-width: 1000px; */
}


a:link {
    color: white;
    text-decoration: none;
    margin: 10px;

  }

a, a:visited, a:hover, a:active {
    color: inherit;
}
.bunky {
    margin-top: 20px;
    width: 75%;
}



footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    height: 80px;
    text-align: center;
    padding: 20px;
}

li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
 }

 .get-started button:hover {
    background-color: #80DC90;

 }

