* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: Fredoka One;
}

a:link {
  color: white;
  text-decoration: none;
  margin: 10px;

}

a, a:visited, a:hover, a:active {
  color: inherit;
}

nav {
  background-color: #1F9BA6;
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 100%;
}

.menu {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-right: 20px;
}

.logo {
  display: inline-block;
}

fieldset {
  /* width: 100%;
  position: relative;
  padding: 0;
  border: 0; */
  margin-left: auto;
  margin-right: auto;
  /* margin: 100px; */
  border: 0;
  padding: 100px;
  background-color: white;
  border-radius: 8px;  
  /* max-width: 600px; */
}

.as-form {
  /* position: relative;
  display: block; */
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  /* width: 100%; */
  /* padding: 40px;
  color: black;
  background-color: white;
  border-radius: 2px; */
  /* max-width: 600px; */
}

.as-form legend {
  /* width: 100%; */
  line-height: 38px;
  font-size: 35px;
  font-weight: 300; 
  color: #565656;
  text-align: center;
  margin-top: 100px;
  /* letter-spacing: 0; */
  /* margin: 0 auto 45px; */
}

.title {
  margin-top: 100px;
}
.as-form .type {
  display: block;
  width: 300px;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 3px;
  background: white;
  margin: 20px;
  /* margin: 10px auto 20px; */
}

.as-form button {
  display: block;
  /* width: 200px; */
  border-radius: 8px;
  padding: 15px;
  background-color: #21B2A8;
  color: rgb(255, 255, 255);
  font-size: 35px;
  /* max-width: 100%; */
  display: block;

}


.budget {
  display: inline;
}

.roomate {
  display: inline;
}

.culture {
  display: inline;
}

.as-form button:hover {
  background-color: #80DC90;
}
